<div class="services-list row-spacer">
	<div class="container">
		<div class="pre-heading">{{ subheading }}</div>
		<h2>{{ heading }}</h2>
		<div class="cards-wrapper d-sm-flex">
			{% for item in items %}
				<div class="service-card {{ class }}">
					<img src="{{ item.image_src }}"  alt="{{ item.image_alt }}"/>
					<h3 class="text-uppercase">{{ item.title }}</h3>
					{{ item.content }}
					<a href="{{ item.link_url }}">{{ item.link_text }}</a>
				</div>
			{% endfor %}
		</div>
		<div class="more-services text-right d-block d-xl-none"><a href="{{ button_url }}">{{ button_text }}</a></div>
	</div>
</div>
