<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div><img class="footer-logo" src="{{ logo }}" alt="{{ alt }}" /></div>
				{{ column_one }}
			</div>
			<div class="offset-sm-1 col-sm-7">
				 {{ column_two }}
			</div>
		</div>
		<div class="copyright text-center text-md-left">
			&copy; {{ "now"|date('Y') }} | {{ copyright }}
		</div>
	</div>
</footer>
