<div class="cta-block-media row-spacer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				pictures go here
			</div>
			<div class="col-md-5 offset-md-1">
				<h2>{{ heading }}</h2>
				<div class="text-content">{{ content }}</div>
				<a class="btn {{ button_class }}" href="{{ link_url }}">{{ link_text }}</a>
			</div>
		</div>
	</div>
</div>
