<div class="cta-block-animated bg-{{ bg_color }}">
	<div class="container">
		<img src="{{ image }}" alt="" />
		<div class="row animated">
			<div class="col-lg-6 text-center text-sm-left">
				<div class="animate-left">
					<h2>{{ content }}</h2>
				</div>
			</div>
			<div class="col-lg-6 text-center text-sm-right">
				<div class="animate-right">
					<a class="btn {{ button_class }}" href="{{ url }}">{{ text }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
