<div class="blog-teasers-list row-spacer bg-navy">
	<div class="container-constrained">
		<div class="search-form-wrapper text-center">
			<form class="search-form d-flex justify-content-between align-items-center white-bg text-left">
				<label for="keyword" class="sr-only">Enter Search Term</label>
				<input placeholder="Search Blogs" id="keyword" name="keyword" type="text" />
				<input type="submit" >
			</form>
		</div>
		<div class="posts-wrapper">
			{% for item in items %}
				<div class="blog-teaser bg-white d-md-flex">
					{% if item.image %}
						<div class="teaser-image col-md-4">
							<a href="{{ item.url }}"><img src="{{ item.image }}" alt="{{ alt }}"/></a>
						</div>
					{% else %}
						<div class="default-image col-md-2">
							<a href="{{ item.url }}"><img class="default" src="{{ image_default }}" alt="{{ alt }}"/></a>
						</div>
					{% endif %}
					<div class="teaser-content">
						<a class="topic d-block" href="{{ item.topic_url }}">{{ item.topic }}</a>
						<h2><a class="d-block" href="{{ item.url }}">{{ item.title }}</a></h2>
						<div>
							<a class="clickable-content" href="{{ item.url }}">{{ item.content }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% if pages %}
			<ul class="pager bg-white m-0 text-center inline-list">
				<span class="icon-arrow-left-circle"><span class="sr-only">Previous</span></span>
				{% for item in pages %}
					<li><a class="{{ item.active ? 'active' : "" }}" href="{{ item.url }}">{{ item.text }}</a></li>
				{% endfor %}
				<span class="icon-arrow-right-circle"><span class="sr-only">Next</span></span>
			</ul>
		{% endif %}
	</div>
</div>
