
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="../../assets/js/jquery.min.js?{{ cacheBuster }}"></script>
  <script src="../../assets/js/bootstrap.bundle.min.js?{{ cacheBuster }}"></script>
  <script src="../../misc/js/scripts.min.js?{{ cacheBuster }}"></script>
  <script src="../../assets/js/scripts.min.js?{{ cacheBuster }}"></script>

  </body>
</html>
